data/
results/subtask1/submissions/
results/subtask2/submissions/
results/subtask1/baseline/
results/subtask1/features/
results/subtask2/baseline/
results/subtask2/features/
results/subtask2/manifest.csv
__pycache__/
*.pyc
.env
.env.*
.venv/
*.egg-info/
.DS_Store
*.swp
/temp
*.ipynb_checkpoints/
